/* 初始化 */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    color: #fff;
    text-decoration: none;
}
img {
    vertical-align: middle;
}
body {
    min-width: 1519px;
    position: relative;
    width: 100%;
    height: 2000px;
    background: url('../public/bg.jpg') no-repeat fixed center;
    background-size: cover;
    color: white;
}
.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .3);
}
/* logo */
.logo {
    float: left;
    /* background-color: tomato; */
    height: 100%;
    margin-left: 40px;
    line-height: 60px;
}
.logo .icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.logo .topic {
    font-size: 20px;
    font-weight: 700;
}
/* 导航栏 */
.nav {
    float: left;
    height: 100%;
    margin-left: 50px;
    /* background-color: tomato; */
}
.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.nav ul li {
    padding: 0 10px;
}
.nav ul .search-ipt {
    outline: 0;
    width: 300px;
    height: 30px;
    border: 1px solid #f4f4fa;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
    text-indent: 1em;
    line-height: 30px;
    transition: .3s ease-in;
}
.nav ul .search-ipt:focus {
    width: 550px;
    background-color: #fff;
}
/* 个人 */
.info {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 200px; */
    height: 100%;
    margin-right: 50px;
    /* background-color: tomato; */
}
/* 设置栏 */
.info .setting {
    position: relative;
    width: 30px;
    height: 100%;
    margin-right: 20px;
    /* background-color: aqua; */
    cursor: pointer;
}
.info .setting .mark {
    position: relative;
    top: 50%;
    left: 20px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: white transparent transparent transparent;
}
.info .setting .mark::before {
    position: absolute;
    top: -5px;
    left: -25px;
    content: '';
    width: 15px;
    height: 3px;
    background-color: white;
}
.info .setting .mark::after {
    position: absolute;
    top: -5px;
    left: -25px;
    content: '';
    width: 15px;
    height: 2px;
    background-color: white;
    rotate: 90deg;
}
.info .setting ul {
    box-sizing: border-box;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 52px;
    right: 0;
    width: 100px;
    padding: 5px 0;
    /* 因为设置了上下padding, 所以li的方框不会影响到ul的圆角框 */
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: default;
}
.info .setting ul::before {
    position: absolute;
    top: -16px;
    right: 10px;
    content: '';
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: white;
    z-index: 999;
}
.info .setting ul li {
    padding: 5px 10px;
    /* line-height: 20px; */
    background-color: white;
    cursor: pointer;
}
.info .setting:hover ul {
    display: flex;
}
/* 头像 */
.info .avator {
    overflow: hidden;
    border-radius: 50%;
}

/* 网页标题 */
/* .mask {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-color: tomato;
    background: url('../public/bg.jpg') no-repeat fixed center;
    /* background-clip: content-box; */
    /* 有兼容性问题, 这个滚动视差效果 
    -webkit-background-clip: text;
    background-size: cover;
    opacity: 40%;
    line-height: 600px;
    text-align: center;
    font-size: 220px;
    font-weight: 700;
    color: transparent;
} */
.title {
    display: block;
    width: 450px;
    margin: 40px auto;
    font-size: 160px;
    font-weight: 700;
}

/* 页面主体 */
.main {
    height: 400px;
    /* background-color: rgba(0, 0, 0, .3); */
}
/* 侧边日期课程栏 */
.sideBar {
    box-sizing: border-box;
    float: left;
    width: 200px;
    height: 300px;
    margin-top: 100px;
    padding: 30px 10px;
    background-color: rgba(0, 0, 0, .3);
}
.sideBar #date {
    margin: 20px 0;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
.sideBar .courseBox {
    overflow: hidden;
    position: relative;
    height: 180px;
    /* background-color: tomato; */
    border-radius: 5px;
}
.sideBar #lessons {
    position: absolute;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .5);
}
.sideBar #lessons .lesson {
    position: relative;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    text-indent: 1.5em;
}
.sideBar #lessons .lesson::before {
    position: absolute;
    top: 0;
    left: 4px;
    content: '';
    width: 2px;
    height: 100%;
    background: whitesmoke
}
.sideBar #lessons .lesson::after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 70%;
}
/* 右边内容区 */
.content {
    float: left;
    background-color: aquamarine;
    width: 970px;
    height: 800px;
    margin-left: 30px;
}
.content .idols ul{
    display: flex;
    justify-content: space-between;
}
.content .idols ul .profile {
    width: 200px;
    height: 300px;
    background-color: tomato;
}